{{ if (or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin")) -}}
#!/bin/bash
set -eufo pipefail

echo -e "\0033[0;32m>>>>> Begin Setting Up Zsh Shell For Linux/Mac <<<<<\033[0m"

{{ if (eq .chezmoi.os "linux") -}}
# Installing zsh for Linux
{{   if (eq .chezmoi.osRelease.id "debian" "ubuntu") -}}
if ! $(dpkg-query -W -f='installed' zsh &> /dev/null); then
  echo "installing zsh with apt"
{{     if ne .chezmoi.username "root" -}}
  sudo apt install -y zsh
{{     else -}}
  apt install -y zsh
{{     end -}}
fi

{{   else if eq .chezmoi.osRelease.id "arch" -}}
if [ "$(pacman -Qq zsh 2> /dev/null)" != zsh ]; then
  echo "installing zsh with pacman"
{{     if ne .chezmoi.username "root" -}}
  sudo pacman -S --noconfirm zsh
{{     else -}}
  pacman -S --noconfirm zsh
{{     end -}}
fi
{{   end -}}

# Set zsh as default shell
if [ $SHELL != $(which zsh) ]; then
  echo "Changing default shell to zsh"
  {{     if ne .chezmoi.username "root" -}}
    sudo chsh -s $(which zsh)
  {{     end -}}
fi

{{   else if (eq .chezmoi.os "darwin") -}}
# Installing zsh for Macos
echo "installing zsh with brew
brew install zsh

# Set zsh as default shell
if [ $SHELL != $(which zsh) ]; then
  echo "Changing default shell to zsh"
  {{     if ne .chezmoi.username "root" -}}
    echo $(which zsh) >> /etc/shells
    sudo chsh -s $(which zsh)
  {{     end -}}
fi
{{ end -}}


echo -e "\0033[0;32m>>>>> Finish Setting Up zsh Shell <<<<<\033[0m"
{{ end -}}
