#!/bin/zsh

{{- $configPath := osClean (print .chezmoi.homeDir "/.config/mise/config.toml" ) }}

# Include file sum so that we re-run every time that file changes
# {{ $configPath }} hash: {{ include $configPath | sha256sum }}
$HOME/.local/bin/mise install
