{{ if (or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin")) -}}
#!/bin/zsh

{{- $configPath := osClean (print .chezmoi.homeDir "/.config/rtx/config.toml" ) }}

# Include file sum so that we re-run every time that file changes
# {{ $configPath }} hash: {{ include $configPath | sha256sum }}
rtx install

{{ end -}}
