{{ if (or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin")) -}}
#!/bin/zsh
set -eufo pipefail

echo -e "\0033[0;32m>>>>> Begin Installing Packages for Linux/Mac <<<<<\033[0m"

PACKAGES=(eza fzf zellij ripgrep bat alacritty git-delta helix k9s)
ARCH_PACKAGES=(fd)
DEBIAN_PACKAGES=(fd-find)
MACOS_TAPS=("FelixKratz/formulae" "koekeishiya/formulae")
MACOS_PACKAGES=("fd" "koekeishiya/formulae/yabai" "koekeishiya/formulae/skhd")


{{ if (eq .chezmoi.os "linux") -}}
# Installing packages for Linux
{{   if (eq .chezmoi.osRelease.id "debian" "ubuntu") -}}
  echo "installing packages with apt"
{{ template "run-as-root" dict "chezmoi" .chezmoi "apt install -y $PACKAGES $DEBIAN_PACKAGES" }}
fi

{{   else if eq .chezmoi.osRelease.id "arch" -}}
if [ "$(pacman -Qq zsh 2> /dev/null)" != zsh ]; then
  echo "installing packages with pacman"
{{ template "run-as-root" dict "chezmoi" .chezmoi "pacman -S --noconfirm $PACKAGES $ARCH_PACKAGES" }}
fi
{{   end -}}

{{   else if (eq .chezmoi.os "darwin") -}}
# Installing packages for Macos
echo "installing packages with brew"
echo "tapping brew packages first"
for x in $MACOS_TAPS; do {{ template "brew-executable" . }} tap $x; done
echo "Successfully tapped brew packages"

{{ template "brew-executable" . }} install $PACKAGES $MACOS_PACKAGES

{{- $validOsForBorders := semverCompare ">= 14.0.0" (output "sw_vers" "--productVersion" | trim) }}
{{- if $validOsForBorders }}
#{{ template "brew-executable" . }} install borders
{{ end }}

echo -e "\0033[0;32m>>>>> Finish Installing Packages <<<<<\033[0m"

{{ end -}}
{{   else if (eq .chezmoi.os "windows") -}}
$packages = @('fzf', 'sharkdp.bat', 'alacritty')
foreach ($package in $packages) {
winget install $package
}

{{ end -}}
