{{ if (and .has_alternate_profile (or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin"))) -}}
#!/bin/bash

# chezmoi config hash: {{ include .chezmoi.configFile | sha256sum }}

mkdir -p {{ .alternate_project_folder }}

cat <<EOF > {{ .alternate_project_folder }}/.gitconfig
[user]
    email = {{ .alternate_email }}
EOF

{{ end -}}
