{{ if (or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin")) -}}
#!/bin/bash
set -eufo pipefail

echo -e "\0033[0;32m>>>>> Begin Setting Up Zsh Shell For Linux/Mac <<<<<\033[0m"

{{ if (eq .chezmoi.os "linux") -}}
# Installing zsh for Linux
{{   if (eq .chezmoi.osRelease.id "debian" "ubuntu") -}}
if ! $(dpkg-query -W -f='installed' zsh &> /dev/null); then
  echo "installing zsh with apt"
{{ template "run-as-root" dict "chezmoi" .chezmoi "command" "apt install -y zsh" }}
fi

{{   else if eq .chezmoi.osRelease.id "arch" -}}
if [ "$(pacman -Qq zsh 2> /dev/null)" != zsh ]; then
  echo "installing zsh with pacman"
{{ template "run-as-root" dict "chezmoi" .chezmoi "command" "pacman -S --noconfirm zsh" }}
fi
{{   end -}}

# Set zsh as default shell
if [ $SHELL != $(which zsh) ]; then
  echo "Changing default shell to zsh"
{{ template "run-as-root" dict "chezmoi" .chezmoi "command" "chsh -s $(which zsh)" }}
fi

{{   else if (eq .chezmoi.os "darwin") -}}
# Installing zsh for Macos
echo "installing zsh with brew"
{{ template "brew-executable" . }} install zsh

# Set zsh as default shell
if [ $SHELL != $(which zsh) ]; then
  echo "Changing default shell to zsh"
{{  if ne .chezmoi.username "root" -}}
	echo $(which zsh) | sudo tee -a /etc/shells
    sudo chsh -s $(which zsh)
{{  else -}}
	echo $(which zsh) | tee -a /etc/shells
    chsh -s $(which zsh)
{{  end -}}
fi
{{ end -}}


echo -e "\0033[0;32m>>>>> Finish Setting Up zsh Shell <<<<<\033[0m"

{{ end -}}
