{{ if (or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin")) -}}
#!/bin/zsh
set -eufo pipefail

echo -e "\0033[0;32m>>>>> Begin Installing Packages for Linux/Mac <<<<<\033[0m"

PACKAGES=(exa fzf)

{{ if (eq .chezmoi.os "linux") -}}
# Installing packages for Linux
{{   if (eq .chezmoi.osRelease.id "debian" "ubuntu") -}}
  echo "installing packages with apt"
{{ template "run-as-root" dict "chezmoi" .chezmoi "apt install -y $PACKAGES" }}
fi

{{   else if eq .chezmoi.osRelease.id "arch" -}}
if [ "$(pacman -Qq zsh 2> /dev/null)" != zsh ]; then
  echo "installing packages with pacman"
{{ template "run-as-root" dict "chezmoi" .chezmoi "pacman -S --noconfirm $PACKAGES" }}
fi
{{   end -}}

{{   else if (eq .chezmoi.os "darwin") -}}
# Installing packages for Macos
echo "installing packages with brew"
brew install $PACKAGES


echo -e "\0033[0;32m>>>>> Finish Installing Packages <<<<<\033[0m"

{{ end -}}
{{ end -}}
