{{ if (or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin")) -}}
#!/bin/zsh
set -eufo pipefail

echo -e "\0033[0;32m>>>>> Begin Setting Up diff-so-fancy <<<<<\033[0m"

{{ if (eq .chezmoi.os "linux") -}}
# Installing for Linux
{{   if (eq .chezmoi.osRelease.id "debian" "ubuntu") -}}
ppa_repo_source=aos1/diff-so-fancy
if ! $(apt-cache policy | grep http | awk '{print $2}' | sort -u | grep $ppa_repo_source &> /dev/null); then
  echo "adding ppa:$ppa_repo_source repository to apt"
{{ template "run-as-root" dict "chezmoi" .chezmoi "add-apt-repository -y ppa:$ppa_repo_source" }}
{{ template "run-as-root" dict "chezmoi" .chezmoi "apt update" }}
fi

if ! $(dpkg-query -W -f='installed' diff-so-fancy &> /dev/null); then
  echo "installing diff-so-fancy with apt"
{{ template "run-as-root" dict "chezmoi" .chezmoi "command" "apt install -y diff-so-fancy" }}
fi

{{   else if eq .chezmoi.osRelease.id "arch" -}}
if [ "$(pacman -Qq diff-so-fancy 2> /dev/null)" != diff-so-fancy ]; then
  echo "installing diff-so-fancy with pacman"
{{ template "run-as-root" dict "chezmoi" .chezmoi "command" "pacman -S --noconfirm diff-so-fancy" }}
fi
{{   end -}}

{{   else if (eq .chezmoi.os "darwin") -}}
# Installing for Macos
echo "installing diff-so-fancy with brew"
{{ template "brew-executable" . }} install diff-so-fancy

{{ end -}}


echo -e "\0033[0;32m>>>>> Finish Setting Up diff-so-fancy Shell <<<<<\033[0m"
{{ end -}}
