{{ if (or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin")) -}}
#!/bin/diff-so-fancy
set -eufo pipefail

echo -e "\0033[0;32m>>>>> Begin Setting Up diff-so-fancy <<<<<\033[0m"

# Installing for Linux
{{ if (eq .chezmoi.os "linux") -}}
# Installing for Linux
{{   if (eq .chezmoi.osRelease.id "debian" "ubuntu") -}}
ppa_repo_source=aos1/diff-so-fancy
if ! $(apt-cache policy | grep http | awk '{print $2}' | sort -u | grep $ppa_repo_source &> /dev/null); then
  echo "adding ppa:$ppa_repo_source repository to apt"
{{     if ne .chezmoi.username "root" -}}
  sudo add-apt-repository -y ppa:$ppa_repo_source
  sudo apt update
{{     else -}}
  add-apt-repository -y ppa:$ppa_repo_source
  apt update
{{     end -}}
fi

if ! $(dpkg-query -W -f='installed' diff-so-fancy &> /dev/null); then
  echo "installing diff-so-fancy with apt"
{{     if ne .chezmoi.username "root" -}}
  sudo apt install -y diff-so-fancy
{{     else -}}
  apt install -y diff-so-fancy
{{     end -}}
fi

{{   else if eq .chezmoi.osRelease.id "arch" -}}
if [ "$(pacman -Qq diff-so-fancy 2> /dev/null)" != diff-so-fancy ]; then
  echo "installing diff-so-fancy with pacman"
{{     if ne .chezmoi.username "root" -}}
  sudo pacman -S --noconfirm diff-so-fancy
{{     else -}}
  pacman -S --noconfirm diff-so-fancy
{{     end -}}
fi
{{   end -}}

{{   else if (eq .chezmoi.os "darwin") -}}
# Installing for Macos
echo "installing diff-so-fancy with brew
brew install diff-so-fancy

{{ end -}}


echo -e "\0033[0;32m>>>>> Finish Setting Up diff-so-fancy Shell <<<<<\033[0m"
{{ end -}}
