{{ if (eq .chezmoi.os "linux") -}}
#!/bin/bash
set -eufo pipefail

echo -e "\0033[0;32m>>>>> Begin Setting Up packages For Linux <<<<<\033[0m"

echo "updating packages"
{{ template "package-update" . }}

# Installing zsh for Linux
{{   if (eq .chezmoi.osRelease.id "debian" "ubuntu") -}}
echo "installing zsh with apt"
{{     if ne .chezmoi.username "root" -}}
sudo apt install -y zsh
{{     else -}}
apt install -y zsh
{{     end -}}

{{   else if eq .chezmoi.osRelease.id "arch" -}}
if [ "$(pacman -Qq zsh 2> /dev/null)" != zsh ]; then
  echo "installing zsh with pacman"
{{     if ne .chezmoi.username "root" -}}
  sudo pacman -S --noconfirm zsh
{{     else -}}
  pacman -S --noconfirm zsh
{{     end -}}
fi
{{   end -}}






# Set zsh as default shell
if [ $SHELL != $(which zsh) ]; then
  echo "Changing default shell to zsh"
  {{     if ne .chezmoi.username "root" -}}
    sudo chsh -s $(which zsh)
  {{     end -}}
fi

echo -e "\0033[0;32m>>>>> Finish Setting Up zsh Shell <<<<<\033[0m"
{{ end -}}
