{{ if (eq .chezmoi.os "linux") -}}
#!/bin/bash
set -eufo pipefail

echo -e "\0033[0;32m>>>>> Begin Setting Up Base Packages For Linux <<<<<\033[0m"

PACKAGES=(git curl tar)

echo "updating packages"
{{ template "packagemanager-update" . }}

# Installing zsh for Linux
{{   if (eq .chezmoi.osRelease.id "debian" "ubuntu") -}}
echo "installing zsh with apt"
{{ template "run-as-root" dict "chezmoi" .chezmoi "command" "apt install -y $PACKAGES" }}

{{   else if eq .chezmoi.osRelease.id "arch" -}}
if [ "$(pacman -Qq zsh 2> /dev/null)" != zsh ]; then
  echo "installing zsh with pacman"
{{ template "run-as-root" dict "chezmoi" .chezmoi "command" "sudo pacman -S --noconfirm $PACKAGES" }}
fi
{{   end -}}

echo -e "\0033[0;32m>>>>> Finish Setting Up Base Packages For Linux <<<<<\033[0m"
{{ end -}}
