{{ if eq .chezmoi.os "darwin" -}}
#!/bin/sh

# Config For JankyBoarders
# https://github.com/FelixKratz/JankyBorders

options=(
	style=round
	width=6.0
	hidpi=on
	active_color=0xffe2e2e3
	inactive_color=0xff414550
)

borders "${options[@]}"
{{- end }}
