{{- $miseLatest := (gitHubLatestRelease "jdx/mise").Name -}}
{{ $miseOsNameDict := dict "linux" "linux" "darwin" "macos" "windows" "INVALID_OS" }}
{{ $miseOsName := (get $miseOsNameDict .chezmoi.os) }}
{{ $miseOsArchDict := dict "amd64" "x64" "arm64" "arm64" }}
{{ $miseOsArch := (get $miseOsArchDict .chezmoi.arch) }}

{{- $nerdFontsLatest := (gitHubLatestRelease "ryanoasis/nerd-fonts").TagName -}}

{{ $fontPathDict := dict "linux" ".fonts" "darwin" "Library/Fonts" "windows" "AppData/Local/Microsoft/Windows/Fonts" }}
{{ $fontDir := osClean (get $fontPathDict .chezmoi.os) }}

####################### Mise #######################
[".local/bin/mise"]
    type = "archive-file"
    url = "https://github.com/jdx/mise/releases/download/{{ $miseLatest }}/mise-{{ $miseLatest }}-{{ $miseOsName }}-{{ $miseOsArch }}.tar.gz"
    path = "mise/bin/mise"
####################### /Mise #######################

####################### NvChad #######################
[".config/nvim"]
    type = "git-repo"
    url = "https://github.com/NvChad/NvChad.git"
    refreshPeriod = "168h"
####################### /NvChad #######################

####################### Alacritty Themes #######################
[".config/alacritty/themes"]
    type = "git-repo"
    url = "https://github.com/alacritty/alacritty-theme.git"
    refreshPeriod = "168h"
####################### /AstroNvim #######################

####################### Oh-My-Zsh #######################
[".oh-my-zsh"]
    type = "archive"
    url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
    exact = false
    stripComponents = 1
    refreshPeriod = "168h"

# Custom OMZ Plugins
[".oh-my-zsh/custom/plugins/fast-syntax-highlighting"]
    type = "archive"
    url = "https://github.com/zdharma-continuum/fast-syntax-highlighting/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".oh-my-zsh/custom/plugins/zsh-history-substring-search"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-history-substring-search/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".oh-my-zsh/custom/plugins/zsh-completions"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-completions/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-autosuggestions/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".oh-my-zsh/custom/plugins/ports"]
    type = "archive"
    url = "https://github.com/caarlos0/ports/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".oh-my-zsh/custom/plugins/git-fetch-merge"]
    type = "archive"
    url = "https://github.com/caarlos0/zsh-git-fetch-merge/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".oh-my-zsh/custom/plugins/git-sync"]
    type = "archive"
    url = "https://github.com/caarlos0/zsh-git-sync/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".oh-my-zsh/custom/plugins/mkc"]
	type = "archive"
	url = "https://github.com/caarlos0/zsh-mkc/archive/master.tar.gz"
	exact = true
	stripComponents = 1
	refreshPeriod = "168h"

[".oh-my-zsh/custom/plugins/async"]
	type = "archive"
	url = "https://github.com/mafredri/zsh-async/archive/master.tar.gz"
	exact = true
	stripComponents = 1
	refreshPeriod = "168h"
####################### /Oh-My-Zsh #######################

####################### Fonts #######################
["{{ $fontDir }}/JetBrainsMono"]
	type = "archive"
	url = "https://github.com/ryanoasis/nerd-fonts/releases/download/{{ $nerdFontsLatest }}/JetBrainsMono.zip"
	exact = true
	refreshPeriod = "168h"

["{{ $fontDir }}/Inconsolata"]
	type = "archive"
	url = "https://github.com/ryanoasis/nerd-fonts/releases/download/{{ $nerdFontsLatest }}/Inconsolata.zip"
	exact = true
	refreshPeriod = "168h"

["{{ $fontDir }}/Hack"]
	type = "archive"
	url = "https://github.com/ryanoasis/nerd-fonts/releases/download/{{ $nerdFontsLatest }}/Hack.zip"
	exact = true
	refreshPeriod = "168h"

["{{ $fontDir }}/FiraCode"]
	type = "archive"
	url = "https://github.com/ryanoasis/nerd-fonts/releases/download/{{ $nerdFontsLatest }}/FiraCode.zip"
	exact = true
	refreshPeriod = "168h"

["{{ $fontDir }}/CascadiaCode"]
	type = "archive"
	url = "https://github.com/ryanoasis/nerd-fonts/releases/download/{{ $nerdFontsLatest }}/CascadiaCode.zip"
	exact = true
	refreshPeriod = "168h"

["{{ $fontDir }}/Meslo"]
	type = "archive"
	url = "https://github.com/ryanoasis/nerd-fonts/releases/download/{{ $nerdFontsLatest }}/Meslo.zip"
	exact = true
	refreshPeriod = "168h"

####################### /Fonts #######################

####################### Docker Completions #######################
[".docker/completions/_docker"]
	type = "file"
	url = "https://raw.githubusercontent.com/docker/cli/master/contrib/completion/zsh/_docker"
	refreshPeriod = "168h"

[".docker/completions/_docker-compose"]
	type = "file"
	url = "https://raw.githubusercontent.com/docker/compose/master/contrib/completion/zsh/_docker-compose"
	refreshPeriod = "168h"
####################### /Docker Completions #######################

####################### Install Sad #######################
{{ $chezmoiArch := (eq .chezmoi.arch "amd64") | ternary "x86_64" "aarch64" -}}
{{ $sadOsDict := dict "linux" "unknown-linux-gnu" "darwin" "apple-darwin" "windows" "pc-windows-msvc" -}}
{{ $sadOs := get $sadOsDict .chezmoi.os -}}

[".local/bin/sad"]
    type = "file"
    url = "https://github.com/ms-jpq/sad/releases/latest/download/{{ $chezmoiArch }}-{{ $sadOs }}.zip"
    executable = true
    refreshPeriod = "168h"
    [".local/bin/sad".filter]
        command = "funzip"
####################### /Install Sad #######################

{{- if (eq .chezmoi.osRelease.id "debian" "ubuntu") }}
[".local/bin/zellij"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "zellij-org/zellij" "zellij-x86_64-unknown-linux-musl.tar.gz" | quote }}
    executable = true
    path = "zellij"

#[".local/bin/k9s"]

{{- end }}
