[user]
	email = {{ .email | quote }}
	name = {{ .full_name | quote }}
{{ if .has_alternate_profile -}}
[includeIf "gitdir:{{ .alternate_project_folder }}"]
    path = .gitconfig.alternate
{{- end }}
[credential]
	{{ if eq .chezmoi.os "darwin" -}}
	helper = osxkeychain
	{{ else -}}
	helper = cache
	{{- end }}
[difftool "diffmerge"]
	cmd = diffmerge $LOCAL $REMOTE
[interactive]
    diffFilter = delta --color-only --features=interactive
[alias]
	co = checkout
	count = shortlog -sn
	g = grep --break --heading --line-number
	gi = grep --break --heading --line-number -i
	changed = show --pretty=\"format:\" --name-only
	fm = fetch-merge
	pr = open-pr
	please = push --force-with-lease
	commend = commit --amend --no-edit
	fpr = fetch-pr
	lt = log --tags --decorate --simplify-by-decoration --oneline
[color]
    diff = auto
    status = auto
    branch = auto
    ui = true
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[color "diff"]
    meta = 11
    frag = magenta bold
    func = 146 bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse
[core]
	excludesfile = ~/.gitignore
	editor = vim
	compression = -1
	autocrlf = input
	whitespace = trailing-space,space-before-tab
	precomposeunicode = true
	pager = delta
[apply]
	whitespace = nowarn
[help]
	autocorrect = 1
[merge]
	tool = diffmerge
	conflictstyle = diff3
[mergetool "diffmerge"]
	cmd = diffmerge --merge --result=$MERGED $LOCAL $BASE $REMOTE
	trustExitCode = true
	keepBackup = false
[diff]
	tool = diffmerge
	colorMoved = default
[difftool]
	prompt = false
[grep]
	extendRegexp = true
	lineNumber = true
[push]
	default = simple
[submodule]
	fetchJobs = 4
[commit]
	template = ~/.dotfiles/git/template.txt
[log]
	showSignature = false
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
	line-numbers = true
	side-by-side = true
