Host *
  ServerAliveInterval 60
  StrictHostKeyChecking no
  AddKeysToAgent yes
  UseKeychain yes

Host github.com bitbucket.org
  UpdateHostKeys yes

Include ~/.ssh/config.local

# Example: https://github.com/halostatue/dotfiles/blob/main/home/private_dot_ssh/private_config.tmpl
