#!/bin/zsh
{{- $completionGlob := osClean (printf "%v%v" .chezmoi.sourceDir "/.components/**/completion.zsh") }}
{{ $completions := glob $completionGlob -}}

{{range $val := $completions}}
########## "{{ $val }}" ##########
{{ include $val }}
{{end}}

# Add chezmoi shell completions
{{ completion "zsh" }}
