# These are default path variables that are used all over the dotfiles.
# If you need to override any of them, your best bet would be to
# re-define them in your .localrc file.

# Term color fix for broadest compatibility
export TERM=xterm-256color

# shortcut to this dotfiles path is $DOTFILES
export DOTFILES="$HOME/.dotfiles"
export TERM_COLORS_PATH="${DOTFILES}/zsh/terminal-colors.zsh"

# your project folder that we can `c [tab]` to
export PROJECTS={{ .project_folder | quote }}

# your default editor
export EDITOR='vim'
export VEDITOR='code'


export LSCOLORS='exfxcxdxbxegedabagacad'
export CLICOLOR=true

autoload -U edit-command-line

HISTFILE=~/.zsh_history
HISTSIZE=10000
SAVEHIST=10000

# don't nice background tasks
setopt NO_BG_NICE
setopt NO_HUP
setopt NO_BEEP
# allow functions to have local options
setopt LOCAL_OPTIONS
# allow functions to have local traps
setopt LOCAL_TRAPS
# share history between sessions ???
setopt SHARE_HISTORY
# add timestamps to history
setopt EXTENDED_HISTORY
setopt PROMPT_SUBST
setopt CORRECT
setopt COMPLETE_IN_WORD
# adds history
setopt APPEND_HISTORY
# adds history incrementally and share it across sessions
setopt INC_APPEND_HISTORY
setopt SHARE_HISTORY
# don't record dupes in history
setopt HIST_IGNORE_ALL_DUPS
setopt HIST_REDUCE_BLANKS
setopt HIST_IGNORE_DUPS
setopt HIST_IGNORE_SPACE
setopt HIST_VERIFY
setopt HIST_EXPIRE_DUPS_FIRST
# dont ask for confirmation in rm globs*
setopt RM_STAR_SILENT

zle -N edit-command-line
