#!/bin/zsh
{{- $pathGlob := osClean (printf "%v%v" .chezmoi.sourceDir "/.components/**/path.zsh") }}
{{ $paths := glob $pathGlob -}}

{{range $val := $paths}}
########## "{{ $val }}" ##########
{{ include $val }}
{{end}}

{{- $templatePathGlob := osClean (printf "%v%v" .chezmoi.sourceDir "/.components/**/path.zsh.tmpl") }}
{{ $templatePaths := glob $templatePathGlob -}}

{{range $val := $templatePaths}}
########## "{{ $val }}" ##########
{{ includeTemplate $val }}
{{end}}

# Add local bin installs to path
export PATH=$PATH:$HOME/.local/bin

# Add Dotfiles bins to path
export PATH=$PATH:$DOTFILES/bin

fpath=($DOTFILES/functions $fpath)
autoload -U "$DOTFILES"/functions/*(:t)

