#!/bin/zsh
{{- $pathGlob := osClean (printf "%v%v" .chezmoi.sourceDir "/.components/**/path.zsh") }}
{{ $paths := glob $pathGlob -}}

{{range $val := $paths}}
########## "{{ $val }}" ##########
{{ include $val }}
{{end}}

# Add local bin installs to path
export PATH=$PATH:$HOME/.local/bin
