# These are default path variables that are used all over the dotfiles.
# If you need to override any of them, your best bet would be to
# re-define them in your .localrc file.



# shortcut to this dotfiles path is $DOTFILES
export DOTFILES="$HOME/.dotfiles"
export TERM_COLORS_PATH="${DOTFILES}/zsh/terminal-colors.zsh"

# your project folder that we can `c [tab]` to
export PROJECTS="$HOME/{{ .project_folder }}"

# your default editor
export EDITOR='vim'
export VEDITOR='code'
