#!/bin/zsh
{{- $pathGlob := osClean (printf "%v%v" .chezmoi.sourceDir "/chezmoi-private/**/path.zsh") }}
{{ $paths := glob $pathGlob -}}

{{range $val := $paths}}
########## "{{ $val }}" ##########
{{ include $val }}
{{end}}
