# TODO: Handle powershell for windows
{{ $macPath := get (dict "amd64" "/usr/local/bin/zsh" "arm64" "/opt/homebrew/bin/zsh") .chezmoi.arch -}}
{{ $shellPathDict := dict "linux" "/usr/bin/zsh" "darwin" $macPath "windows" "pwsh.exe" -}}
{{- $shellPath := osClean (get $shellPathDict .chezmoi.os) -}}

shell:
  program: {{ $shellPath }}
{{- if (not (eq .chezmoi.os "windows")) }}
  args:
    - -l
    - -c
    - "tmux a || tmux new"
{{ end -}}

import:
 - ~/.config/alacritty/themes/themes/one_dark.yaml # Import Color Theme
 - ~/.config/alacritty/alacritty.keybindings.yml # Import Keybindings
 - ~/.config/alacritty/alacritty.debug.yml # Import Debug confis
env:
  TERM: xterm-256color
  ALACRITTY: alacritty
window:
  dynamic_title: true
{{- if (eq .chezmoi.os "darwin") }}
  decorations: transparent
{{- else }}
  decorations: full
{{- end }}
  dimensions:
    columns: 0
    lines: 0
  padding:
    x: 10
    y: 25
  dynamic_padding: false
{{- if (eq .chezmoi.os "darwin") }}
option_as_alt: Both
{{- end }}
cursor:
  # Cursor style
  style:
    # Cursor shape
    #
    # Values for `shape`:
    #   - ▇ Block
    #   - _ Underline
    #   - | Beam
    shape: Block

    # Cursor blinking state
    #
    # Values for `blinking`:
    #   - Never: Prevent the cursor from ever blinking
    #   - Off: Disable blinking by default
    #   - On: Enable blinking by default
    #   - Always: Force the cursor to always blink
    blinking: Always
scrolling:
  history: 10000
font:
  normal:
    family: JetBrainsMono Nerd Font
    style: Regular
  size: 13.0
draw_bold_text_with_bright_colors: true

bell:
  duration: 0
live_config_reload: true

hints:
  # Keys used for the hint labels.
  alphabet: "jfkdls;ahgurieowpq"
  enabled:
  - regex: "(ipfs:|ipns:|magnet:|mailto:|gemini:|gopher:|https:|http:|news:|file:|git:|ssh:|ftp:)\
            [^\u0000-\u001F\u007F-\u009F<>\"\\s{-}\\^⟨⟩`]+"
    hyperlinks: true
  {{- if (eq .chezmoi.os "darwin") }}
    command: open
  {{- else }}
    command: xdg-open
  {{- end }}
    post_processing: true
    mouse:
      enabled: true
      mods: None
