# TODO: Handle powershell for windows
{{ $macPath := get (dict "amd64" "/usr/local/bin/zsh" "arm64" "/opt/homebrew/bin/zsh") .chezmoi.arch -}}
{{ $shellPathDict := dict "linux" "/usr/bin/zsh" "darwin" $macPath "windows" "pwsh.exe" -}}
{{- $shellPath := osClean (get $shellPathDict .chezmoi.os) -}}

shell:
  program: {{ $shellPath }}
{{- if (not (eq .chezmoi.os "windows")) }}
  args:
    - -l
    - -c
    - "tmux a || tmux new"
{{ end -}}

# Import Color Theme
import:
 - ~/.config/alacritty/themes/themes/one_dark.yaml
colors:
  # primary:
  #   background: '#1c1f26'
  #   foreground: '#d8dee9'
  #   bright_foreground: '#000000'
  #   dim_foreground: '#a5abb6'
  #   cursor:
  #     text: '#2e3440'
  #     cursor: '#d8dee9'
  #   vi_mode_cursor:
  #     text: '#2e3440'
  #     cursor: '#d8dee9'
  #   selection:
  #     text: CellForeground
  #     background: '#4c566a'
  #   search:
  #     matches:
  #       foreground: CellBackground
  #       background: '#88c0d0'
  #     bar:
  #       background: '#434c5e'
  #       foreground: '#d8dee9'
    # normal:
    #   black: '#3F4451'
    #   red: '#bf616a'
    #   green: '#a3be8c'
    #   yellow: '#D18F52'
    #   blue: '#81a1c1'
    #   magenta: '#b48ead'
    #   cyan: '#8fbcbb'
    #   white: '#eceff4'
    #   black: '#3b4252'
    #   red: '#bf616a'
    #   green: '#a3be8c'
    #   yellow: '#ebcb8b'
    #   blue: '#81a1c1'
    #   magenta: '#b48ead'
    #   cyan: '#88c0d0'
    #   white: '#e5e9f0'
    # bright:
    #   black: '#4c566a'
    #   red: '#bf616a'
    #   green: '#a3be8c'
    #   yellow: '#ebcb8b'
    #   blue: '#81a1c1'
    #   magenta: '#b48ead'
    #   cyan: '#8fbcbb'
    #   white: '#eceff4'
    # dim:
    #   black: '#373e4d'
    #   red: '#94545d'
    #   green: '#809575'
    #   yellow: '#b29e75'
    #   blue: '#68809a'
    #   magenta: '#8c738c'
    #   cyan: '#6d96a5'
    #   white: '#aeb3bb'
env:
  TERM: xterm-256color
  ALACRITTY: alacritty
window:
  dynamic_title: true
  # TODO: Full for non-mac? Also fix padding for non-mac
  decorations: transparent
  dimensions:
    columns: 0
    lines: 0
  padding:
    x: 10
    y: 25
  dynamic_padding: false
cursor:
  # Cursor style
  style:
    # Cursor shape
    #
    # Values for `shape`:
    #   - ▇ Block
    #   - _ Underline
    #   - | Beam
    shape: Beam

    # Cursor blinking state
    #
    # Values for `blinking`:
    #   - Never: Prevent the cursor from ever blinking
    #   - Off: Disable blinking by default
    #   - On: Enable blinking by default
    #   - Always: Force the cursor to always blink
    blinking: Always
scrolling:
  history: 10000
font:
  normal:
    family: JetBrainsMono Nerd Font
    style: Regular
  size: 13.0
draw_bold_text_with_bright_colors: true

bell:
  duration: 0
live_config_reload: true
key_bindings:
  - { key: V,               mods: Control|Shift, action: Paste                            }
  - { key: C,               mods: Control|Shift, action: Copy                             }
  - { key: Insert,          mods: Shift,         action: PasteSelection                   }
  - { key: Key0,            mods: Control,       action: ResetFontSize                    }
  - { key: Equals,          mods: Control,       action: IncreaseFontSize                 }
  - { key: NumpadAdd,       mods: Control,       action: IncreaseFontSize                 }
  - { key: NumpadSubtract,  mods: Control,       action: DecreaseFontSize                 }
  - { key: Minus,           mods: Control,       action: DecreaseFontSize                 }
  - { key: Paste,                                action: Paste                            }
  - { key: Copy,                                 action: Copy                             }
  - { key: L,               mods: Control,       action: ClearLogNotice                   }
  - { key: L,               mods: Control,       chars: "\x0c"                            }
  - { key: Home,            mods: Alt,           chars: "\x1b[1;3H"                       }
  - { key: Home,                                 chars: "\x1bOH",        mode: AppCursor  }
  - { key: Home,                                 chars: "\x1b[H",        mode: ~AppCursor }
  - { key: End,             mods: Alt,           chars: "\x1b[1;3F"                       }
  - { key: End,                                  chars: "\x1bOF",        mode: AppCursor  }
  - { key: End,                                  chars: "\x1b[F",        mode: ~AppCursor }
  - { key: PageUp,          mods: Shift,         action: ScrollPageUp,   mode: ~Alt       }
  - { key: PageUp,          mods: Shift,         chars: "\x1b[5;2~",     mode: Alt        }
  - { key: PageUp,          mods: Control,       chars: "\x1b[5;5~"                       }
  - { key: PageUp,          mods: Alt,           chars: "\x1b[5;3~"                       }
  - { key: PageUp,                               chars: "\x1b[5~"                         }
  - { key: PageDown,        mods: Shift,         action: ScrollPageDown, mode: ~Alt       }
  - { key: PageDown,        mods: Shift,         chars: "\x1b[6;2~",     mode: Alt        }
  - { key: PageDown,        mods: Control,       chars: "\x1b[6;5~"                       }
  - { key: PageDown,        mods: Alt,           chars: "\x1b[6;3~"                       }
  - { key: PageDown,                             chars: "\x1b[6~"                         }
  - { key: Insert,                               chars: "\x1b[2~"                         }
  - { key: Delete,                               chars: "\x1b[3~"                         }
  - { key: Left,                                 chars: "\x1b[D",        mode: ~AppCursor }
  - { key: Left,                                 chars: "\x1bOD",        mode: AppCursor  }
  - { key: Right,                                chars: "\x1b[C",        mode: ~AppCursor }
  - { key: Right,                                chars: "\x1bOC",        mode: AppCursor  }
  - { key: Up,                                   chars: "\x1b[A",        mode: ~AppCursor }
  - { key: Up,                                   chars: "\x1bOA",        mode: AppCursor  }
  - { key: Down,                                 chars: "\x1b[B",        mode: ~AppCursor }
  - { key: Down,                                 chars: "\x1bOB",        mode: AppCursor  }
  - { key: NumpadEnter,                          chars: "\n"                              }

#debug:
  # Display the time it takes to redraw each frame.
  #render_timer: false

  # Keep the log file after quitting Alacritty.
  #persistent_logging: false

  # Log level
  #
  # Values for `log_level`:
  #   - Off
  #   - Error
  #   - Warn
  #   - Info
  #   - Debug
  #   - Trace
  #log_level: Warn

  # Renderer override.
  #   - glsl3
  #   - gles2
  #   - gles2_pure
  #renderer: None

  # Print all received window events.
  #print_events: false

  # Highlight window damage information.
  #highlight_damage: false
