# TODO: Handle powershell for windows
{{ $macBrewPath := get (dict "amd64" "/usr/local/bin/" "arm64" "/opt/homebrew/bin/") .chezmoi.arch -}}
{{ $shellPathDict := dict "linux" "/usr/bin/zsh" "darwin" (print $macBrewPath "zsh") "windows" "pwsh.exe" -}}
{{- $shellPath := osClean (get $shellPathDict .chezmoi.os) -}}

{{ $zellijPathDict := dict "linux" "/usr/bin/zellij" "darwin" (print $macBrewPath "zellij") "windows" "zellij.exe" -}}
{{- $zellijPath := osClean (get $zellijPathDict .chezmoi.os) -}}

live_config_reload = true

import = [
"~/.config/alacritty/themes/themes/doom_one.toml", # Import Color Theme
"~/.config/alacritty/alacritty.keybindings.toml", # Import Keybindings
"~/.config/alacritty/alacritty.debug.toml", # Import Debug confis
]

[bell]
duration = 0

[colors]
draw_bold_text_with_bright_colors = true

[cursor.style]
# Values for `blinking`:
#   - Never: Prevent the cursor from ever blinking
#   - Off: Disable blinking by default
#   - On: Enable blinking by default
#   - Always: Force the cursor to always blink
blinking = "Always"
# Values for `shape`:
#   - ▇ Block
#   - _ Underline
#   - | Beam
shape = "Block"

[env]
ALACRITTY = "alacritty"
TERM = "xterm-256color"

[font]
size = 13.0

[font.normal]
family = "JetBrainsMono Nerd Font"
style = "Regular"

[hints]
alphabet = "jfkdls;ahgurieowpq"

[[hints.enabled]]
{{- if (eq .chezmoi.os "darwin") }}
command = "open"
{{- else }}
command = "xdg-open"
{{- end }}
hyperlinks = true
post_processing = true
regex = "(ipfs:|ipns:|magnet:|mailto:|gemini:|gopher:|https:|http:|news:|file:|git:|ssh:|ftp:)[^\u0000-\u001F\u007F-<>\"\\s{-}\\^⟨⟩`]+"

[hints.enabled.mouse]
enabled = true
mods = "None"

[scrolling]
history = 10000

[shell]
{{- if (not (eq .chezmoi.os "windows")) }}
program = "{{ $zellijPath }}"
args = ["options", "--default-shell", "{{ $shellPath }}"]
{{ else }}
program = "{{ $shellPath }}"
{{ end }}
[window]
decorations = "full"
dynamic_padding = false
dynamic_title = true
{{- if (eq .chezmoi.os "darwin") }}
option_as_alt = "Both"
{{- end }}

[window.dimensions]
columns = 0
lines = 0

[window.padding]
x = 5
y = 0
